CODE_SIGN_IDENTITY = -
CODE_SIGN_STYLE = Manual
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
DEVELOPMENT_TEAM =
INFOPLIST_FILE = Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET = 13.0
PRODUCT_BUNDLE_IDENTIFIER = com.tomographic.sae-scriptable-test-app
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = macosx
SWIFT_VERSION = 6.0

CODE_SIGN_ENTITLEMENTS = SAEScriptableTestAppTests.entitlements
INFOPLIST_FILE = SAEScriptableTestAppTests-Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.tomographic.sae-scriptable-test-app.tests
TEST_HOST = $(BUILT_PRODUCTS_DIR)/SAEScriptableTestApp.app/Contents/MacOS/SAEScriptableTestApp